* {
  padding: 0;
  margin: 0;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0000004e;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
  border-radius: 12.5px;
  ;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover:not(.logo) {
  background-color: #000000;
}

.logo {
  background-color: #d9f50400;
  color: rgba(255, 255, 255);
}

#background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-image: url("../indexpic/2.jpg");
}